<!doctype html> 
<head> 
	<meta charset="utf-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<title>{{.TITLE}}</title>
	<meta name="description" content=""> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="normalize.min.css">	
	<link rel="stylesheet" href="milligram.min.css">
</head>
<body>
	<div class="container main-content">
		<h1 class="glyph-title">{{.TITLE}}</h1>
		<ul class="glyph-issue-list">
		{{range .ISSUES}}
			<li class="glyph-issue"><a href={{.Link}}>{{.Title}}</a></li>
		{{end}}
		</ul>
	</div>
</body>
</html>