<!doctype html> 
<head> 
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <title>{{.TITLE}}</title>
    <meta name="description" content=""> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="normalize.min.css">	
	<link rel="stylesheet" href="milligram.min.css">
</head> 
<body>
    <div class="main-content">
        <h1 class="glyph-title">{{.TITLE}}</h1>
        <h2 class="glyph-issue-title">{{.ISSUE_TITLE}}</h2>
        <p class="glyph-issue-content">{{.ISSUE_CONTENT}}</p>
    </div>
</body>
</html>