<main>
    {{#Issues}}
    <div class="mb4">
        <div class="border-box w-100 db dt-l">
            <a class="db dtc-l v-mid w-100 w-75-l no-underline dim" href={{Link}}>
                <h2 class="db dtc-l v-mid blue">{{Title}}</h2>
            </a>
            <p class="db dtc-l v-mid w-100 w-25-l tl tr-l o-60">{{Created.Weekday}}, {{Created.Month}} {{Created.Day}}, {{Created.Year}}</p>
        </div>
        <p class="navy w-100">
            {{{Summary}}}
        </p>
        <div class="w-100 pt2 db dt-l">
            <div class="db dtc-l v-mid w-100 w-80-l">
                {{#Labels}}
                <span class="b--solid br2 pb1 pt1 pl2 pr2 mr2 navy b--light-blue tag">{{.}}</span>
                {{/Labels}}
            </div>
            <div class="db dtc-l v-mid w-100 w-20-l tl tr-l">
                <a class="orange no-underline dim" href="{{{CommentsURL}}}">Discuss</a>
            </div>
        </div>
    </div>
    {{/Issues}}
</main>