<main>
    <article>
        <h1>{{Issue.Title}}</h2>
        <p>{{{Issue.Content}}}</p>
        <p><a class="orange no-underline dim" href="{{{CommentsURL}}}">Discuss at Github</a></p>
    </article>
</main>
