<main>
    <article>
        <h1>{{Issue.Title}}</h2>
        <p>{{{Issue.Content}}}</p>
        <p><a class="b f6 link dim br2 ph3 pv2 mb2 dib white bg-orange" href="{{Issue.GithubLink}}">Discuss at Github</a></p>
    </article>
</main>
